[user]
	email = git@davisraym.com
	name = Davis Muro
	signingkey = 43D773AF72E09C5D
[ui "color"]
	ui = always
[color]
	ui = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
	verbose = true
[core]
	editor = nvim
	autocrlf = input
	safecrlf = true
	pager = delta
[help]
	autocorrect = prompt
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
