[user]
    email = git@davisraym.com
    name = Davis Muro
	signingkey = 43D773AF72E09C5D
[ui "color"]
    ui = always
[color]
    ui = true
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[core]
	editor = nvim
    autocrlf = input
    safecrlf = true
[help]
    autocorrect = prompt
