* {
    background-image: none;
    box-shadow: none;
    font-family: "MesloLGS NF";
    font-weight: normal;
    font-size: 13px;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-width: 0px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: #2e3440;
    color: #eceff4;
}

button:active, button:hover {
    background-color: #eceff4;
    color: #2e3440;
    outline-style: none;
}

#lock {
    background-image: url("/usr/share/wlogout/assets/logout.svg");
}

#logout {
    background-image: url("/usr/share/wlogout/assets/logout.svg");
}

#suspend {
    background-image: url("/usr/share/wlogout/assets/suspend.svg");
}

#hibernate {
    background-image: url("/usr/share/wlogout/assets/hibernate.svg");
}

#shutdown {
    background-image: url("/usr/share/wlogout/assets/shutdown.svg");
}

#reboot {
    background-image: url("/usr/share/wlogout/assets/reboot.svg");
}
