* {
  font-family:
    SauceCodePro Nerd Font Mono,
    sans-serif;
  font-size: 11px;
  font-weight: bold;
}

window#waybar {
  background-color: #181616;
  border: 1px solid #c5c9c5;
  color: #c5c9c5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#window {
  margin-left: 10px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  background: #c5c9c5;
  color: #181616;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#idle_inhibitor,
#network,
#tray {
  padding: 0px 5px;
}

#backlight {
  padding-right: 10px;
}

#power-profiles-daemon,
#idle_inhibitor,
#battery {
  font-size: 20px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#pulseaudio {
  font-size: 15px;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

label:focus {
  background-color: #000000;
}

#custom-power,
#network {
  font-size: 18px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
